<?xml version="1.0" encoding="UTF-8" ?>
<Module>
	<ModulePrefs title="HeroQuest">
		<Require feature="rpc"/>
		<Require feature="views"/>
	</ModulePrefs>

	<Content type="html">
	<![CDATA[
		<script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
		<script src="//apis.google.com/js/client:plus.js"></script>

		<link rel="stylesheet" href="//192.168.56.101/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="//192.168.56.101/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="//192.168.56.101/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css" />
		<link rel="stylesheet" href="//192.168.56.101/styles/main.css" />

		<body>

			<div class="wrapper"></div>
			
			<!--
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
			<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

			<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.underscore.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

			<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>

			<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js" data-main="//192.168.56.101/js/src/Main.js" id="main"></script>
			-->

			<script data-main="//192.168.56.101/js/src/config" src="//192.168.56.101/bower_components/requirejs/require.js"></script>

		</body>
	]]>
	</Content>
</Module>