<?xml version="1.0" encoding="UTF-8" ?>
<Module>
	<ModulePrefs title="HeroQuest">
		<Require feature="rpc"/>
		<Require feature="views"/>
	</ModulePrefs>

	<Content type="html">
	<![CDATA[
		<script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
		<script src="//apis.google.com/js/client:plus.js"></script>

		<link rel="stylesheet" href="//192.168.56.101/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="//192.168.56.101/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="//192.168.56.101/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css" />
		<link rel="stylesheet" href="//192.168.56.101/styles/main.css" />

		<body>

			<div class="wrapper"></div>

			<!--<script data-main="//192.168.56.101/js/src/config" src="//192.168.56.101/bower_components/requirejs/require.js" id="main"></script>-->
			<script src="//192.168.56.101/js/src/main-built.js" id="main"></script>

		</body>
	]]>
	</Content>
</Module>