<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/src/App.js"></script>
    <script src="/js/src/build.js"></script>
    <script src="/js/src/collection/CampaingCollection.js"></script>
    <script src="/js/src/collection/CharCollection.js"></script>
    <script src="/js/src/config.js"></script>
    <script src="/js/src/main.js"></script>
    <script src="/js/src/model/CampaingModel.js"></script>
    <script src="/js/src/model/CharModel.js"></script>
    <script src="/js/src/util.js"></script>
    <script src="/js/src/view/ArtifactsTabButtonView.js"></script>
    <script src="/js/src/view/CampaingFormModalView.js"></script>
    <script src="/js/src/view/CampaingListModalView.js"></script>
    <script src="/js/src/view/CardsTabView.js"></script>
    <script src="/js/src/view/ChangeMasterModalView.js"></script>
    <script src="/js/src/view/CharFormModalView.js"></script>
    <script src="/js/src/view/CharListModalView.js"></script>
    <script src="/js/src/view/CharPopoverView.js"></script>
    <script src="/js/src/view/DicePanelView.js"></script>
    <script src="/js/src/view/HistoryPanelView.js"></script>
    <script src="/js/src/view/JukeboxTabView.js"></script>
    <script src="/js/src/view/MonsterPopoverView.js"></script>
    <script src="/js/src/view/NewBoardView.js"></script>
    <script src="/js/src/view/PiecePopoverView.js"></script>
    <script src="/js/src/view/PieceView.js"></script>
    <script src="/js/src/view/PiecesTabView.js"></script>
    <script src="/js/src/view/SettingsTabView.js"></script>
    <script src="/js/src/view/SpellsTabButtonView.js"></script>
    <script src="/js/src/view/ToolbarPanelView.js"></script>
    <script src="/js/src/view/TreasureView.js"></script>
    <script src="/js/src/view/TreasuresTabButtonView.js"></script>
    <script src="/js/src/view/WelcomeModalView.js"></script>
    <script src="/js/src/view/component/AlertModalView.js"></script>
    <script src="/js/src/view/component/ButtonToolbarView.js"></script>
    <script src="/js/src/view/component/ButtonView.js"></script>
    <script src="/js/src/view/component/ConfirmModalView.js"></script>
    <script src="/js/src/view/component/ListGroupComponentView.js"></script>
    <script src="/js/src/view/component/ListGroupView.js"></script>
    <script src="/js/src/view/component/ModalView.js"></script>
    <script src="/js/src/view/component/NewModalView.js"></script>
    <script src="/js/src/view/component/NewPanelView.js"></script>
    <script src="/js/src/view/component/PopoverView.js"></script>
    <script src="/js/src/view/component/TabButtonComponentView.js"></script>
    <script src="/js/src/view/component/TabComponentView.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
