<script type="text/template">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Manage your campaings!</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-success hide" role="alert">This hangout instance has a unique URL never saved. Like master you can create a campaing attached on this URL, for write notes, save the board state and share with other players. <a href="javascript:;" class="alert-link add-campaing">Create a campaing now!</a></div>

				<div class="alert alert-info hide" role="alert">This URL is already attached a campaing. You can choose another one and click in "Go to" to load the campaing. If you want to create a new campaing <a href="javascript:;" class="new-instance">click here</a> to go a new hangout instance.</div>
				
				<div class="current-campaing-list-group hide">
					<p><strong>Current campaing:</strong></p>
					<div></div>
				</div>

				<p><strong>My campaings:</strong></p>
				<span class="no-data hide">no data available</span>
				<div class="campaing-list-group"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-warning btn-change-master">Change Master</button>
				<button type="button" class="btn btn-success add-campaing" disabled>Create campaing</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</script>