<script type="text/template">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Choose your campaing!</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-success" role="alert">Create and load a campaing to save the game state and start from here, when you're play again.</div>
				<div class="campaing-list-group"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-warning btn-change-master">Change Master</button>
				<button type="button" class="btn btn-success add-campaing">Add campaing</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</script>