<table class="table table-bordered monsters-attr">
	<tr class="active">
		<th>Mov</th>
		<th>Att</th>
		<th>Def</th>
		<th>Body</th>
		<th>Mind</th>
	</tr>
	<tr>
		<td><%= attr.moviment %></td>
		<td><%= attr.attack %></td>
		<td><%= attr.defense %></td>
		<td><%= attr.body %></td>
		<td><%= attr.mind %></td>
	</tr>
</table>
<div class="progress-wrapper danger-wrapper">
	<span class="glyphicon glyphicon-minus"></span>
	<div class="progress progress-striped">
		<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= attr.body %>" aria-valuemin="0" aria-valuemax="<%= attr.body %>" style="width: 100%;"><%= attr.body %></div>
	</div>
	<span class="glyphicon glyphicon-plus"></span>
</div>
<div class="progress-wrapper info-wrapper">
	<span class="glyphicon glyphicon-minus"></span>
	<div class="progress progress-striped">
		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= attr.mind %>" aria-valuemin="0" aria-valuemax="<%= attr.mind %>" style="width: 100%;"><%= attr.mind %></div>
	</div>
	<span class="glyphicon glyphicon-plus"></span>
</div>