<script type="text/template">
	<form>
		<label for="show-profile-picture" class="hide"><input type="checkbox" name="show-profile-picture" id="show-profile-picture"> show profile picture</label>
		<table class="table table-bordered monsters-attr">
			<tr class="active">
				<th>Mov</th>
				<th>Att</th>
				<th>Def</th>
				<th>Body</th>
				<th>Mind</th>
			</tr>
			<tr>
				<td><input type="number" class="form-control" name="movement" value="<%= movement %>"></td>
				<td><input type="number" class="form-control" name="attack" value="<%= attack %>"></td>
				<td><input type="number" class="form-control" name="defense" value="<%= defense %>"></td>
				<td><input type="number" class="form-control" name="body" value="<%= body %>"></td>
				<td><input type="number" class="form-control" name="mind" value="<%= mind %>"></td>
			</tr>
		</table>
		<div class="progress-wrapper danger-wrapper">
			<span class="glyphicon glyphicon-minus"></span>
			<div class="progress progress-striped">
				<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= typeof(bodyNow) !== 'undefined' && bodyNow < body ? bodyNow : body %>" aria-valuemin="0" aria-valuemax="<%= body %>" style="width: <%= typeof(bodyNow) !== 'undefined' && bodyNow < body ? (((bodyNow * 100) / body) + '%') : '100%' %>;"><%= typeof(bodyNow) !== 'undefined' && bodyNow < body ? bodyNow : body %></div>
			</div>
			<span class="glyphicon glyphicon-plus"></span>
		</div>
		<div class="progress-wrapper info-wrapper">
			<span class="glyphicon glyphicon-minus"></span>
			<div class="progress progress-striped">
				<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= typeof(mindNow) !== 'undefined' && mindNow < mind ? mindNow : mind %>" aria-valuemin="0" aria-valuemax="<%= mind %>" style="width: <%= typeof(mindNow) !== 'undefined' && mindNow < mind ? (((mindNow * 100) / mind) + '%') : '100%' %>;"><%= typeof(mindNow) !== 'undefined' && mindNow < mind ? mindNow : mind %></div>
			</div>
			<span class="glyphicon glyphicon-plus"></span>
		</div>

		<textarea name="inventory" style="width:100%"><%= inventory %></textarea>

		<button type="button" class="btn btn-danger btn-block" style="margin-top:20px">remove character</button>
	</form>
</script>
