<script type="text/template">
	<ul class="pieces-toolbar noselect">
		<li><i class="sprite-furnitures icon-alchemist-bench"></i></li>
		<li><i class="sprite-furnitures icon-bookcase"></i></li>
		<li><i class="sprite-furnitures icon-cupboard"></i></li>
		<li><i class="sprite-furnitures icon-door"></i></li>

		<li><i class="sprite-furnitures icon-door-opened"></i></li>
		<li><i class="sprite-furnitures icon-fireplace"></i></li>
		<li><i class="sprite-furnitures icon-rack"></i></li>
		<li><i class="sprite-furnitures icon-sorcerer-table"></i></li>

		<li><i class="sprite-furnitures icon-table"></i></li>
		<li><i class="sprite-furnitures icon-throne"></i></li>
		<li><i class="sprite-furnitures icon-tomb"></i></li>
		<li><i class="sprite-furnitures icon-tresure-chest"></i></li>

		<li><i class="sprite-furnitures icon-weapons-rack"></i></li>
	</ul>
</script>