<script type="text/template">
	<button type="button" class="btn btn-default manage-campaings">
		<span class="glyphicon glyphicon-th-list"></span> Manage my campaings
	</button>
	<button type="button" class="btn btn-default manage-heroes">
		<span class="glyphicon glyphicon-th-list"></span> Manage my heroes
	</button>

	<div class="reset-settings hide">
		<button type="button" class="btn btn-default remove-all-pieces">
			<span class="glyphicon glyphicon-remove"></span> Clear board
		</button>
		<button type="button" class="btn btn-default clear-history">
			<span class="glyphicon glyphicon-remove"></span> Clear history
		</button>
		<button type="button" class="btn btn-default reset-treasures">
			<span class="glyphicon glyphicon-remove"></span> Reset treasures
		</button>
	</div>

	<div class="reset-settings hide">
		<button type="button" class="btn btn-default btn-change-master">
			Change Master
		</button>
	</div>
</script>
