<script type="text/template">
	<button type="button" class="btn btn-default manage-campaings">
		<span class="glyphicon glyphicon-th-list"></span> Manage my campaings
	</button>
	<button type="button" class="btn btn-default manage-heroes">
		<span class="glyphicon glyphicon-th-list"></span> Manage my heroes
	</button>

	<div style="margin-top:10px">
		<button type="button" class="btn btn-default remove-all-pieces">
			<span class="glyphicon glyphicon-remove"></span> Remove all pieces
		</button>
		<button type="button" class="btn btn-default clear-history">
			<span class="glyphicon glyphicon-remove"></span> Clear history
		</button>
		<button type="button" class="btn btn-default reset-treasures">
			<span class="glyphicon glyphicon-remove"></span> Reset treasures
		</button>
	</div>
</script>