<script type="text/template">
	<div class="btn-group btn-group-justified" data-toggle="buttons">
		<!--
		<label class="btn btn-primary active">
			<input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
		</label>
		-->
	</div>

	<div class="list-group-container">
		<!--
		<div class="list-group" id="list-group-option1">
			<a href="#" class="list-group-item">
				<h4 class="list-group-item-heading">List group item heading A</h4>
				<p class="list-group-item-text">...</p>
			</a>
		</div>
		<div class="list-group hide" id="list-group-option2">
			<a href="#" class="list-group-item">
				<h4 class="list-group-item-heading">List group item heading B</h4>
				<p class="list-group-item-text">...</p>
			</a>
		</div>
		<div class="list-group hide" id="list-group-option3">
			<a href="#" class="list-group-item">
				<h4 class="list-group-item-heading">List group item heading C</h4>
				<p class="list-group-item-text">...</p>
			</a>
		</div>
		-->
	</div>
</script>