<div id="<%= id %>" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Welcome Modal View</h4>
			</div>
			<div class="modal-body">
				<p>WELCOME</p>
			</div>
			<div class="modal-footer">
				<form role="form" class="pull-left">
					<label class="checkbox-inline">
						<input type="checkbox" id="inlineCheckbox1" value="option1"> Not again!
					</label>
				</form>

				<button type="button" class="btn btn-primary" data-dismiss="modal">Start</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->